    <!-- Footer
    ================================================= -->
		<footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="images/logo-black.png" alt="" class="footer-logo" /></a>
              <ul class="list-inline social-icons">
                <li><a 
                 href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A4200/user-gate-way"
                 ><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="https://twitter.com/home?status=%22https%3A//www.facebook.com/sharer/sharer.php?u=http%253A//localhost%253A4200/user-gate-way%22"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="https://plus.google.com/share?url=http%3A//localhost%3A4200/user-gate-way"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="https://pinterest.com/pin/create/button/?url=&media=http%3A//localhost%3A4200/user-gate-way&description"><i class="icon ion-social-pinterest"></i></a></li>
              	<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//localhost%3A4200/user-gate-way&title=&summary=&source="><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For individuals</h6>
              <ul class="footer-links">
                <li><a href="">Signup</a></li>
                <li><a href="">login</a></li>
                <li><a href="">Explore</a></li>
                <li><a href="">Finder app</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Language settings</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For businesses</h6>
              <ul class="footer-links">
                <li><a href="">Business signup</a></li>
                <li><a href="">Business login</a></li>
                <li><a href="">Benefits</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Setup</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>About</h6>
              <ul class="footer-links">
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h6>Contact Us</h6>
                <ul class="contact">
                	<li><i class="icon ion-ios-telephone-outline"></i>0345 4243208</li>
                	<li><i class="icon ion-ios-email-outline"></i>zia@ziaullahGeek.com</li>
                  <li><i class="icon ion-ios-location-outline"></i>Okara ,Punjab , Pakistanx</li>
                </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>copyright @PhotoContest 2018. All rights reserved</p>
      </div>
		</footer>

    <!-- Scripts
    ================================================= -->