<!-- Edit Interests
  ================================================= -->
<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey">
      <i class="icon ion-ios-heart-outline"></i>My Interests</h4>
    <div class="line"></div>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
      quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
    <div class="line"></div>
  </div>
  <div class="edit-block">
    <ul class="list-inline interests">
      <li>
        <a href="">
          <i class="icon ion-android-bicycle"></i> Bycicle</a>
      </li>
      <li>
        <a href="">
          <i class="icon ion-ios-camera"></i> Photgraphy</a>
      </li>
      <li>
        <a href="">
          <i class="icon ion-android-cart"></i> Shopping</a>
      </li>
      <li>
        <a href="">
          <i class="icon ion-android-plane"></i> Traveling</a>
      </li>
      <li>
        <a href="">
          <i class="icon ion-android-restaurant"></i> Eating</a>
      </li>
    </ul>
    <!-- <div class="line" formArrayName="addnewInterest">
      <form class="form form-horizontal" [formGroup]="interest" (ngSubmit)="onsubmittingForm()">
        <div class="row" >
          <p class="custom-label">
            <strong>Add interests</strong>
          </p>
          <div class="form-group col-sm-12" *ngFor="let control of interest.get('addnewInterest').['controls'];let i=index" [formGroupName]="i">
            <div class="form-group col-sm-8">
              <input id="add-interest" formControlName="nameOfinterest" class="form-control input-group-lg" type="text" name="interest"
                title="Choose Interest">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-danger" (click)="removeAt(i)" > Remove
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </div>
          <div class="form-group col-sm-4">
            <button class="btn btn-success" (click)="onAddingNewRow()"> Add (More)
              <span class="fa fa-plus"></span>
            </button>
          </div>
        </div>
        <div class="col-md-offset-8 col-md-4">
          <button type="submit" class="btn btn-success" [disabled]="!interest.valid" >Save My Interests</button>
        </div>
      </form>
    </div> -->

  </div>
</div>
