<!-- Newsfeed Common Side Bar Left
        ================================================= -->
<div class="col-md-3 static">
  <app-user-detail></app-user-detail>
  <!--profile card ends-->
  <ul class="nav-news-feed active">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="icon ion-ios-paper "></i>
      <div>
        <a routerLinkActive="active" routerLink="/newsfeed">My Newsfeed</a>
      </div>
    </li>


      <!--Start Today's Competation-->
      <li routerLinkActive="active">
          <i class="icon ion-ios-body "></i>
          <div>
             
              
            <a routerLinkActive="active" routerLink="/start-contest" >
              
              
              
              Start Contest
              </a>
              
          </div>
        </li>
    <!--Today's Competation-->
    <li routerLinkActive="active">
      <i class="icon ion-ios-camera "></i>
      <div>
         
          
        <a routerLinkActive="active" routerLink="/todays-Contest" >
          
          
          
          Today's Competation
          <img src="./../../../../assets/images/compitation.png" width="38" height="27" alt=""></a>
          
      </div>
    </li>

    <li routerLinkActive="active">
      <i class="icon ion-ios-people-outline"></i>
      <div>
        <a routerLinkActive="active" routerLink="/friends">Friends</a>
      </div>
    </li>
    <!-- <li><i class="icon ion-chatboxes"></i><div><a href="newsfeed-messages.html">Messages</a></div></li> -->
    <li routerLinkActive="active">
      <i class="icon ion-images"></i>
      <div>
        <a routerLink="/images" routerLinkActive="active">Images</a>
      </div>
    </li>
    <!-- <li><i class="icon ion-ios-videocam"></i><div><a href="newsfeed-videos.html">Videos</a></div></li> -->
  </ul>
  <!--news-feed links ends-->
  <!-- <div id="chat-block">
    <div class="title">Chat online</div>
    <ul class="online-users list-inline">
      <li>
        <a href="newsfeed-messages.html" title="Linda Lohan">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Sophia Lee">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="John Doe">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Alexis Clark">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="James Carter">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Robert Cook">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Richard Bell">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Anna Young">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
      <li>
        <a href="newsfeed-messages.html" title="Julia Cox">
          <img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo">
          <span class="online-dot"></span>
        </a>
      </li>
    </ul>
  </div> -->
  <!--chat block ends-->
</div>
