  <!-- Edit Work and Education
  ================================================= -->
  <div class="edit-profile-container">
    <div class="block-title">
      <h4 class="grey"><i class="icon ion-ios-book-outline"></i>My education</h4>
      <div class="line"></div>
      <p>Please tell World about your cool skills.</p>
      <div class="line"></div>
    </div>
    <div class="edit-block">
      <form name="education" id="education" #Education="ngForm" (ngSubmit)="onSubmittingEducation(Education)" class="form-inline">
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="school">My university</label>
            <input id="school" class="form-control input-group-lg" ngModel required type="text" name="school" title="Enter School" placeholder="My School" value="Harvard Unversity">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label for="date-from">From</label>
            <input id="date-from" class="form-control input-group-lg" ngModel required type="text" name="dateform" title="Enter a Date" placeholder="from" >
          </div>
          <div class="form-group col-xs-6">
            <label for="date-to" class="">To</label>
            <input id="date-to" class="form-control input-group-lg" ngModel required  type="text" name="dateto" title="Enter a Date" placeholder="to" >
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="edu-description">Description</label>
            <textarea id="edu-description" name="description"  ngModel class="form-control" placeholder="Some texts about my education" rows="4" cols="400"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="graduate">Graduated?:-</label>
            <input id="graduate" type="checkbox" name="graduate" ngModel value="graduated"  checked=""> Yes!! 
          </div>
        </div>
        <button class="btn btn-primary" [disabled]="Education.invalid">Save Changes</button>
      </form>
    </div>
    <div class="block-title">
      <h4 class="grey"><i class="icon ion-ios-briefcase-outline"></i>Work Experiences</h4>
      <div class="line"></div>
      <p>Please tell World about your cool skills & Skills.</p>
      <div class="line"></div>
    </div>
    <div class="edit-block">
      <form name="work" id="work"   #work="ngForm" (ngSubmit)="onSubmittingwork(work)" class="form-inline">
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="company">Company</label>
            <input id="company" class="form-control input-group-lg" ngModel required  type="text" name="company" title="Enter Company" placeholder="Company name" value="Envato Inc">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="designation">Designation</label>
            <input id="designation" class="form-control input-group-lg" ngModel required  type="text" name="designation" title="Enter designation" placeholder="designation name" value="Exclusive Author">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label for="from-date">From</label>
            <input id="from-date" class="form-control input-group-lg" ngModel   type="text" name="datefrom" title="Enter a Date" placeholder="from" value="2016">
          </div>
          <div class="form-group col-xs-6">
            <label for="to-date" class="">To</label>
            <input id="to-date" class="form-control input-group-lg" type="text" ngModel  name="dateto" title="Enter a Date" placeholder="to" value="Present">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="work-city">City/Town</label>
            <input id="work-city" class="form-control input-group-lg" type="text" ngModel   name="city" title="Enter city" placeholder="Your city" value="Melbourne">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="work-description">Description</label>
            <textarea id="work-description" name="description" ngModel   class="form-control" placeholder="Some texts about my work" rows="4" cols="400">
              
             </textarea>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="work.invalid">Save Changes</button>
      </form>
    </div>
  </div>
