<h1 style="text-align: center;font-size: 8">
  Please provide Information about Candidate 1</h1>
<form #candForm="ngForm" (submit)="onSubmittingCandForm(candForm)">
  <div class="form-group col-xs-12">
    <label for="name">Name</label>
    <input id="name" class="form-control input-group-lg" type="text" name="name" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">Email</label>
    <input id="name" class="form-control input-group-lg" type="text" name="email" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">Image Url</label>
    <input id="name" class="form-control input-group-lg" type="text" name="picUrl" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">address</label>
    <input id="name" class="form-control input-group-lg" type="text" name="address" ngModel required>
  </div>
  <h1 style="text-align: center">Please provide Information about Candidate 2</h1>

  <div class="form-group col-xs-12">
    <label for="name">Name</label>
    <input id="name" class="form-control input-group-lg" type="text" name="name2" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">Email</label>
    <input id="name" class="form-control input-group-lg" type="text" name="email2" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">Image Url</label>
    <input id="name" class="form-control input-group-lg" type="text" name="picUrl2" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="name">address</label>
    <input id="name" class="form-control input-group-lg" type="text" name="address2" ngModel required>
  </div>
  <div class="form-group col-xs-12">
    <label for="hours">Time (in hours)</label>
    <input id="hours" class="form-control input-group-lg" type="number" max="23" name="hours" ngModel required>
  </div>
  <button type="submit" class="col-xs-12 btn btn-success">Let's Start!</button>
</form>
