<div class="container">
  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-info">
              <img src="{{profileService.profile.photoUrl}}" alt="" class="img-responsive profile-photo" />
              <h3>{{profileService.profile.name}}</h3>
              <p class="text-muted">Creative Director</p>
            </div>
          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li>
                <a routerLink="/edit-profile/basic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Edit Basic Information</a>
              </li>
              <li>
                <a routerLink="/edit-profile/work" routerLinkActive="active" >Edit Work</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/edit-profile/interest">Edit Interests</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/edit-profile/change-password">Change Password</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <!--Timeline Menu for Large Screens End-->

      <!--Timeline Menu for Small Screens-->
      <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
          <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
          <h4>Sarah Cruiz</h4>
          <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
          <ul class="list-inline">
            <li>
              <a routerLink="/edit-profile/basic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Edit Basic Information</a>
            </li>
            <li>
              <a routerLink="/edit-profile/work" routerLinkActive="active" >Edit Work</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/edit-profile/interest">Edit Interests</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/edit-profile/change-password">Change Password</a>
            </li>
          </ul>

        </div>
      </div>
      <!--Timeline Menu for Small Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">
              
          <!--Edit Profile Menu-->
          <ul class="edit-menu">
            <li routerLinkActive="active" ><i class="icon ion-ios-information-outline"></i><a routerLink="/edit-profile/basic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Basic Information</a></li>
            <li routerLinkActive="active"><i class="icon ion-ios-briefcase-outline"></i><a routerLink="/edit-profile/work" routerLinkActive="active" >Education and Work</a></li>
            <li routerLinkActive="active"><i class="icon ion-ios-heart-outline"></i><a routerLinkActive="active" routerLink="/edit-profile/interest">My Interests</a></li>

            <li routerLinkActive="active"><i class="icon ion-ios-locked-outline"></i><a routerLinkActive="active" routerLink="/edit-profile/change-password">Change Password</a></li>
          </ul>
        </div>
        <div class="col-md-7">





          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>
</div>
